:root{
    --project-black:#2F303A;;
    --project-grey:rgba(117, 117, 117, 1);
    --project-blue:rgba(33, 150, 243, 1);
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

ul, p, h2, button{
    padding: 0;
    margin: 0;
}
/* container */
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
} 
button{
    cursor: pointer;
}
/* header */
header{
    padding: 24px 0 25px;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_pages{
    display: flex;
    gap: 93px;
    
}
.logo{
    color: var(--project-blue);
    font-family: 'Raleway',sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none; 


   
}
.logo2{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
}
#header_logo_black{
    color: var(--project-black);
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav__list{
  display: flex;
  gap: 50px;
}
.nav-list__link{
    color: var(--project-black);
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    text-decoration: none;
}
.nav-list__link:hover{
    color: var(--project-blue);
}

.contacts{
    display: flex;
    gap: 50px;
    justify-content: flex-end;
}

.mailto__link,.tel__link{
    color: var(--project-grey);
    font-weight: 500;
    letter-spacing: 0.28px;
}
.mailto__link:hover, .tel__link:hover{
    color: var(--project-blue);
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* descr */
.descr{
    padding-bottom: 114px;
    border-top: 1px solid #ECECEC;
}
.btn__list{
    display: flex;
    gap: 8px;
    justify-content: center;
    
}
.btn-list__btn{
    cursor: pointer;
    border-radius: 4px;
    background: #F5F4FA;
    flex-shrink: 0;


    color:#212121;
    text-align: center;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.48px;
    border-color: #FFF;
    padding: 6px 22px;
    margin: 126px 0 50px;
    border: none;
    flex-basis: calc(( 100% - 40px) / 5);
}
.btn-list__btn:hover{
    border-color: var(--project-blue);
    background-color: var(--project-blue);
    color: #FFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
/* descr-list */
.descr__list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    justify-content: space-between;

}
.descr-list__item{

    border: 1px solid #EEE;
    background: #FFF;
    padding: 0 0 20px;
    flex-basis:calc((100% - 60px ) / 3);  
    cursor: pointer;
}
.descr-list__item:hover{
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.descr-list__img{
    width: 370px;
    height: 294px;
    flex-shrink: 0;

}
.descr-list__title{
    color: var(--project-black);
    font-size: 18px;
    font-weight: 700;
    line-height: 2; /* 200% */
    letter-spacing: 1.08px;
    margin-top: 20px;
    padding-left: 24px;
}
.descr-list__category{
    color: var(--project-grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875; 
    letter-spacing: 0.48px ;
    padding-left: 24px;
}
.list__img, button{
    display: block;
}
/* footer */
.footer{
    padding: 60px 0;
}
.footer{
    background-color: var(--project-black);
}
#footer-logo__white{
    color: #fff;
}
.footer-contacts__list{
    display: flex;
    gap: 9px;
    flex-direction: column;
}
.footer__address{
    margin: 20px 0 13px;
    color: #FFF;
}
.footer__mailto, .footer__tel{
    color: var(--project-grey);
    font-weight: 500;
    letter-spacing: 0.28px;
    text-decoration: none; 
}
.footer__tel:hover{
    color: var(--project-blue);
}
.footer__mailto:hover{
    color: var(--project-blue);
}