:root{
    --project-black:#2F303A;;
    --project-grey:rgba(117, 117, 117, 1);
    --project-blue:rgba(33, 150, 243, 1);
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

ul, p, h2, button{
    padding: 0;
    margin: 0;
}
/* container */
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
 /* outline: 2px solid red;  */
} 
button{
    cursor: pointer;
}
/* header */
header{
    /* outline: 2px solid burlywood; */
    padding: 24px 0 25px;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_pages{
    display: flex;
    gap: 93px;
    
}
.logo{
    color: var(--project-blue);
    font-family: 'Raleway',sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none; 


   
}
.logo2{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
}
#header-logo__black{
    color: var(--project-black);
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav__list{
  display: flex;
  gap: 50px;
}
.nav-list__link{
    color: var(--project-black);
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    text-decoration: none;
}
.nav-list__link:hover{
    color: var(--project-blue);
}

.contacts{
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    align-items: center;
}
.contacts-email__svg{
    fill: #757575;
}

.contacts__item:hover svg{
    fill: #2196f3;
}
.mailto__link,.tel__link{
    color: var(--project-grey);
    font-weight: 500;
    letter-spacing: 0.28px;
    margin-left: 10px;
}
.mailto__link:hover, .tel__link:hover{
    color: var(--project-blue);
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* main */
.hero{
    background-color: var(--project-black);
    padding: 200px 0; 
    width: 100%;
    background-image:linear-gradient( to right, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url('../images/hero2img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero__title{
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height:1.36364; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    display: block;
    width: 696px;
    margin: 0 auto 30px;
  

}   
.hero__btn{
    
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875; /* 187.5% */
    letter-spacing: 0.96px;
    padding: 10px 32px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    
   

    border-radius: 4px;
    background: var(--project-blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);  
    border: none;  
}
/* rules  */
.rules{
    /* outline: 3px dashed purple; */
    padding: 94px 0 94px ;

}
.rules__list{
    display: flex;
    gap: 30px;
}

.rules-list_title{
    color: var(--project-black);
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin: 55px 0 10px;
}
.rules-list__texte{
    color: var(--project-grey);
    font-weight: 400;
    line-height: 1.71429; /* 171.429% */
    letter-spacing: 0.42px;
}

.rules-list__item:nth-child(1)::before{
    content:"" ;
    background-image:url('../images/anntena1.svg');
}
.rules-list__item:nth-child(2)::before{
    content:"";
    background-image:url('../images/clock1.svg');
}
.rules-list__item:nth-child(3)::before{
    content:"";
    background-image: url('../images/diagram1.svg');
}
.rules-list__item:nth-child(4)::before{
    content:"";
    background-image: url('../images/astronaut1.svg') ;
}
.rules-list__item::before{
    content: "";
    display: inline-block;
    background-position: center;
    background-color:  #F5F4FA;
    background-repeat: no-repeat;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    
   
}
/* about */
.about{
    /* outline: 2px solid blue; */
    padding: 0 0 94px;
}

.about__list{
    display: flex;
    gap: 30px;
    
}
.about-list__item{
    position: relative;

}
.about__title{
    color: var(--project-black);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin: 0 0 50px ;
    /* padding-top: 94px; */
}

.about-list__img{
    width: 370px;
    flex-shrink: 0;
}
.about-list__texte{
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;   
    width: 370px;
    background-color:rgba(47, 48, 58, 0.8);
    padding: 27px 113px ;
    letter-spacing: 0.03em;
    position: absolute;
    bottom:3px;
    
}
/* team */
.team{
    /* outline: 2px solid red; */
    padding: 94px 0;
    background: #F5F4FA;
}
.team__list{
    display: flex;
    gap: 30px;
}
.team-list__item{
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    width: 270px;
    padding-bottom: 30px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team__title{
    color: var(--project-black);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin:50px;
}
.team__img{
    width: 270px;
    height: 260px;
    flex-shrink: 0;
    margin-bottom: 30px;
}
.team-list__name{
    color: var(--project-black);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin-bottom:10px;
}
.team-list__work{
    color: var(--project-grey);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
}
.team-list__svgs{
    display:flex;
    justify-content:center;
    gap: 10px;
    align-items:center;
    margin-top: 20px;
}
.team-svgs__item{
    padding: 12px;
    border-radius: 50px;
    cursor: pointer;

}
.team-svgs__item:hover{
    background-color: #2196f3;
}
.team-svgs__item:hover svg{
    fill: #FFF;
}
.team-list__svg{
    fill: #afb1b8;
    width: 20px;
    height: 20px;
} 
.team-list__svg:hover{
    fill: #FFF;
}

/* customers */
.customers{
    padding: 95px 0;   
}
.customers__title{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
    margin-bottom: 59px;
}
.customer__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.customer-list__item{
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    padding: 17px 30px;
}
.customer-list__item:hover{
    border-color: #2196f3;
    cursor: pointer;
}
.customer-list__item:hover svg{
    fill: #2196f3;
    cursor: pointer;
}
.customer-list__svg{
    width: 106px;
    height: 60px; 
    fill: #afb1b8;
}
/* footer */
.footer{
    /* outline: 2px solid red; */
    padding: 60px 0;
    background-color: var(--project-black);
}
.footer .container{
    display: flex;
    align-items:center ;
    gap: 70px;
}
.footer-pages__left{
    display: flex;
    flex-direction: column;
}
#footer-logo__white{
    color: #fff;
}
.footer-contacts__list{
    display: flex;
    gap: 9px;
    flex-direction: column;
}
.footer__address{
    margin: 20px 0 13px;
    color: #FFF;
}
.footer__mailto, .footer__tel{
    color: var(--project-grey);
    font-weight: 500;
    letter-spacing: 0.28px;
    text-decoration: none; 
}
.footer__tel:hover{
    color: var(--project-blue);
}
.footer__mailto:hover{
    color: var(--project-blue);
}
.footer-pages__title{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}
.footer-network__list{
    display: flex;
    gap: 10px;
    
}
.footer-network__item{
    display: inline-block;
    padding: 12px;
    border-radius: 50px;
    background-color:rgba(255, 255, 255, 0.1) ;
}
.footer-network__item:hover{
    background-color:  #2196f3;
    cursor: pointer;
}
.footer-network__svg{
    fill: #FFF;
    width: 20px;
    height: 20px;
}

