:root{
    --project-black:#2F303A;;
    --project-grey:rgba(117, 117, 117, 1);
    --project-blue:rgba(33, 150, 243, 1);
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

button{
    cursor: pointer;
}
/* header */
header{
    /* outline: 2px solid burlywood; */
    padding: 24px 0 25px;
}
#header_logo_black{
    color: var(--project-black);
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    color: var(--project-blue);
    font-family: 'Raleway',sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none; 


   
}
.logo2{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
}
.nav_list{
  display: flex;
  gap: 50px;
}


.nav_list_link{
      
    color: var(--project-black);
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    text-decoration: none;
    
}
.nav_list_link:hover{
    color: var(--project-blue);
}
ul{
    list-style-type: none;
}
.contacts{
    display: flex;
    gap: 50px;
    justify-content: flex-end;
}

.mailto_link,.tel_link{
    color: var(--project-grey);
    font-weight: 500;
    letter-spacing: 0.28px;
    text-decoration: none;
}
.mailto_link:hover{
    color: var(--project-blue);
}
.tel_link:hover{
    color: var(--project-blue);
}
/* main */
/* main{
    outline: 2px solid red;
} */
.main_hero{
    background-color: var(--project-black);
    padding: 200px 0; 
}
.main_title{
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height:1.36364; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
  

}   
.main_btn{
    
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875; /* 187.5% */
    letter-spacing: 0.96px;
    padding: 10px 32px;
    margin: 0 auto;
    
   

    border-radius: 4px;
    background: var(--project-blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);  
    border: none;  
}
/* rules  */
.rules{
    /* outline: 3px dashed purple; */
    padding: 94px 0 94px ;

}
.rules_main_list{
    display: flex;
    gap: 30px;
}

.rules_main_list_title{
    color: var(--project-black);
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.rules_main_list_item{
    color: var(--project-grey);
    font-weight: 400;
    line-height: 1.71429; /* 171.429% */
    letter-spacing: 0.42px;
}
/* about */
.about{
    /* outline: 2px solid blue; */
    padding: 0 0 94px;
}
.about_nav_list{
    display: flex;
    gap: 30px;
}
.about_title{
    color: var(--project-black);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin: 0 0 50px ;
    /* padding-top: 94px; */
}
.about_list_img{
    width: 370px;
    height: 294px;
    flex-shrink: 0;
    /* margin-top: 50px; */
}
/* team */
.team{
    /* outline: 2px solid red; */
    padding: 94px 0;
    background: #F5F4FA;
}
.team_list{
    display: flex;
    gap: 30px;
}
.team_title{
    color: var(--project-black);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin:50px;
}
.team_img{
    width: 270px;
    height: 260px;
    flex-shrink: 0;
    margin-bottom: 30px;
}
.team_list_item{
    color: var(--project-black);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin-bottom:10px;
}
.team_list_item2{
    color: var(--project-grey);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
}
/* footer */
.footer{
    /* outline: 2px solid red; */
    padding: 60px 0;
}
.footer, .P_footer{
    background-color: var(--project-black);
}
#footer_logo_white{
    color: #fff;
}
.footer_link{
    display: flex;
    gap: 9px;
    flex-direction: column;
}
.footer_address{
    margin-top: 20px;
    color: #FFF;
}
.footer_mailto, .footer_tel{
    color: var(--project-grey);
    font-weight: 500;
    letter-spacing: 0.28px;
    text-decoration: none; 
}
.footer_tel:hover{
    color: var(--project-blue);
}
.footer_mailto:hover{
    color: var(--project-blue);
}
/* Portfolio */
.P_footer{
    padding: 60px 0;
}
.P_footer_item{
    color: #FFF;
}
.P_btn_link{
    display: flex;
    gap: 8px;
    justify-content: center;
}
.P_main_btn{
    cursor: pointer;
    border-radius: 4px;
background: #F5F4FA;
/* width: 73px; */
flex-shrink: 0;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);

color:#212121;
text-align: center;
/* font-size: 10px; */
font-weight: 500;
line-height: 1.625; /* 162.5% */
letter-spacing: 0.48px;
border-color: #FFF;
padding: 6px 22px;
margin: 126px 0 50px


}

.P_main_btn:hover{
    border-color: var(--project-blue);
    background-color: var(--project-blue);
    color: #FFF;
}
.P_main_list_link{
    padding-bottom: 174px;
}
.P_list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 30px;
}
.P_list_link{
    width: 370px;
}
.P_img{
    width: 370px;
height: 294px;
flex-shrink: 0;
}
.P_main_title{
    color: var(--project-black);
    font-size: 18px;
    font-weight: 700;
    line-height: 2; /* 200% */
    letter-spacing: 1.08px;
    margin-top: 20px;
}
.P_list_item{
    color: var(--project-grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
    letter-spacing: 0.48px ;
}
.P_img, button{
    display: block;
}
/* container */
ul, p, h2, button{
    padding: 0;
    margin: 0;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
 /* outline: 2px solid red;  */
} 
